/* Special */
:root {
    --accent-gray-color: #B7B7B7;
    --accent-gray-background: #EFEFEF;
    --addition-button-color: #4F4F4F;
    --accent-transition: all .3s ease;
    --addition-transition: all .6s ease;
    --border-radius: 15px;

    --accent-default: #454545;
    --accent-blue: #67D2E0;
    --accent-orange: #FFB129;
    --accent-red: #E75C62;
    --accent-purple: #8F4C6E;
}

/* Tag rules */
body {
    margin: 0;
    padding: 0;
    font: 1rem 'Roboto', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a, ul, li, p {
    margin: 0;
    padding: 0;
}

a, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

li, ol {
    list-style: none;
}

button {
    border: none;
    outline: none;
    border-radius: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
    white-space: nowrap;
}

label {
    color: var(--accent-gray-color);
    font-size: .875rem;
    margin: 0 0 10px 0;
}

input {
    border: none;
    outline: none;
    background-color: var(--accent-gray-background);
    border-radius: 5px;
    padding: 10px 15px;
}

img {
    width: 100%;
    object-fit: cover;
}

/* Class rules */
.bd-app {
    position: relative;
    background: #484848;
}

.bd-auth {
    grid-gap: 50px;
}

.bd-auth__switcher {
    justify-content: space-between;
    flex-direction: row !important;
}

.bd-auth__switcher p {
    align-self: center;
    font-weight: 900;
    margin: 0;
}

.bd-auth__switcher button {
    position: relative;
    background-color: var(--addition-button-color);
    border-radius: 120em;
    width: 60px;
    height: 28px;
    cursor: pointer;
}

.bd-auth__switcher button span {
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: var(--accent-transition);
}

.bd-auth__switcher button span.switch {
    left: 38px;
}

.bd-auth__content {
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    transition: 0.6s;
	transform-style: preserve-3d;
}

.bd-auth__authentication,
.bd-auth__registration {
    grid-gap: 10px;
    backface-visibility: hidden;
}

.bd-auth__authentication {
    z-index: 2;
	transform: rotateY(0deg);
}

.bd-auth__registration {
    z-index: 2;
	transform: rotateY(180deg);
}

.bd-auth__content.switch {
    transform: rotateY(180deg);
}

.bd-hub {
    position: relative;
    display: flex;
    background: #F7F7FF;
    min-height: 100vh;
}

.bd-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 250;
    width: 100%;
    height: 100%;
}

.bd-modal .bd-modal__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 251;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .325);
    cursor: pointer;
    transition: all .3s ease;
}

.bd-modal .bd-modal__body {
    position: relative;
    z-index: 252;
    background: white;
    border-radius: var(--border-radius);
    padding: 25px;
}

.bd-sidebar {
    position: fixed;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 64px 1fr 64px;
    z-index: 50;
    background: white;
    border-radius: 0 25px 0 0;
    min-width: 92px;
}

.bd-sidebar-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bd-sidebar-navigator__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}

.bd-sidebar .bd-break {
    display: flex;
    height: 2px;
    background: #f3f3f3;
    margin: 0 15px;
}

.bd-sidebar .bd-openchats ul li {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    cursor: pointer;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li img {
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li.active img,
.bd-sidebar .bd-openchats ul li img:hover {
    transform: scale(.9);
}

.bd-sidebar-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__burger {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__burger span {
    position: relative;
    width: 25px;
    height: 3px;
    background: #333;
    margin: 0;
    padding: 0;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__burger span::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 25px;
    height: 3px;
    background: #333;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__burger span::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 25px;
    height: 3px;
    background: #333;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__settings {
    font-size: 1rem;
    color: gainsboro;
    transition: all .3s ease;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__settings:hover {
    color: #3c3c3c;
}

.bd-main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    margin: 0;
}

.bd-main::-webkit-scrollbar {
    width: 20px;
}

.bd-main::-webkit-scrollbar-track {
    background: none;
}

.bd-main::-webkit-scrollbar-thumb {
    background: none;
}

.bd-main__mainstream {
    position: relative;
}

.bd-main__mainstream-block {
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all .3s ease;
}

.bd-main__mainstream-block .content {
    transition: all .3s ease;
}

.bd-main__mainstream-block.blue:hover .content,
.bd-main__mainstream-block.blue.active .content {
    box-shadow: 0 0 50px 0 #67D2E040;
    transform: scale(1.05);
}

.bd-main__mainstream-block.blue:hover .content p,
.bd-main__mainstream-block.blue.active .content p {
    border-bottom: 10px solid #32b2c5;
}

.bd-main__mainstream-block.orange:hover .content,
.bd-main__mainstream-block.orange.active .content {
    box-shadow: 0 0 50px 0 #FFB12940;
    transform: scale(1.05);
}

.bd-main__mainstream-block.orange:hover .content p,
.bd-main__mainstream-block.orange.active .content p {
    border-bottom: 10px solid #dc961c;
}

.bd-main__mainstream-block.red:hover .content,
.bd-main__mainstream-block.red.active .content {
    box-shadow: 0 0 50px 0 #E75C6240;
    transform: scale(1.05);
}

.bd-main__mainstream-block.red:hover .content p,
.bd-main__mainstream-block.red.active .content p {
    border-bottom: 10px solid #bf3b40;
}
.bd-main__mainstream-block.purple:hover .content,
.bd-main__mainstream-block.purple.active .content {
    box-shadow: 0 0 50px 0 #8F4C6E40;
    transform: scale(1.05);
}

.bd-main__mainstream-block.purple:hover .content p,
.bd-main__mainstream-block.purple.active .content p {
    border-bottom: 10px solid #612b46;
}

.bd-main__mainstream-block .content {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 265px;
    user-select: none;
}

.bd-main__mainstream-block .content img {
    height: 128px;
}

.bd-main__mainstream-block .content p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25;
    padding: 25px;
    color: white;
    height: 100%;
    border-bottom: 10px solid transparent;
    transition: all .3s ease;
}

.bd-main.offset .bd-main__mainstream-block .content {
    opacity: 0;
    transition: all .3s ease;
}

.bd-main .bd-headers {
    display: flex;
    justify-content: space-between;
}

.bd-main .bd-headers h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.bd-main .bd-headers a {
    font-size: .875rem;
    font-weight: 500;
    padding: 5px 25px;
    background: white;
    border-radius: var(--border-radius);
    color: #808080;
    transition: all .3s ease;
}

.bd-main .bd-headers a:hover {
    color: #333;
}

.bd-main .bd-messages {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: var(--border-radius);
    color: #cacaca;
    height: 100%;
}

.bd-main .bd-messages .no-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.bd-main .bd-messages .history {
    position: relative;
    flex-grow: 1;
    margin-bottom: 0;
    padding: 25px 25px 10px 25px;
    height: calc(100vh - 320px);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.bd-main .bd-messages .history .message {
    display: flex;
    margin-bottom: 10px;
}

.bd-main .bd-messages .history .message.my {
    flex-direction: row-reverse;
}

.bd-main .bd-messages .history .message img {
    border-radius: 10px;
    width: 48px;
    height: 48px;
}

.bd-main .bd-messages .history .message p {
    font-size: .875rem;
    font-weight: 400;
    color: #333;
    margin-left: 15px;
    padding: 15px;
    border-radius: 10px;
    background: #f5f5f5;
    width: 65%;
}

.bd-main .bd-messages .history .message.my p {
    margin-left: 0;
    margin-right: 15px;
}

.bd-main .bd-messages .form {
    position: relative;
    display: flex;
    background: white;
    padding: 15px;
}

.bd-main .bd-messages .form::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #f3f3f3;
}

.bd-main .bd-messages .form input {
    flex-grow: 1;
    margin: 0 10px;
    width: 100%;
}

.bd-main .bd-messages .form button {
    width: 35px;
    min-width: 35px;
    background: #efefef;
    border-radius: 5px;
    color: #a5a5a5;
}

.bd-app.blue,
.bd-main__mainstream-block.blue .content p {
    background: var(--accent-blue);
}
.bd-app.orange,
.bd-main__mainstream-block.orange .content p {
    background: var(--accent-orange);
}
.bd-app.red,
.bd-main__mainstream-block.red .content p {
    background: var(--accent-red);
}
.bd-app.purple,
.bd-main__mainstream-block.purple .content p {
    background: var(--accent-purple);
}

.bd-main__mainstream-block .content p span {
    display: flex;
    font-size: .875rem;
    font-weight: 400;
    text-transform: initial;
    margin-top: 10px;
}

.bd-main__mainstream-block .headcrumb {
    display: none;
}

.bd-main article {
    background: white;
    padding: 15px;
    border-radius: var(--border-radius);
    margin: 0 50px;
}

.bd-main article .image img {
    border-radius: 15px;
}

.bd-main article .image button {
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: 900;
}

.bd-main article.full .image button {
    display: none;
}

.bd-main article .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    flex-grow: 1;
}

.bd-main article .text * {
    display: flex;
}

.bd-main article .text .body {
    flex-direction: column;
}

.bd-main article .text .tags {
    justify-content: space-between;
    color: #d2d2d2;
    margin-top: 15px;
}

.bd-main article.full .text .tags {
    margin-top: 15px;
}

.bd-main article .text h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 15px;
    cursor: pointer;
}

.bd-main article .text p {
    font-size: .875rem;
    font-weight: 500;
}

.bd-main .offers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    background: none;
    padding: 0;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
}

.bd-main .bd-navigator .offers li {
    background: #f1f1f1;
}

.bd-main .offers li {
    background: white;
    padding: 15px;
}

.bd-main__hotnews {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.bd-main article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 25px;
}

.bd-main article:last-child {
    margin-bottom: 0;
}

.bd-main article .image img {
    height: 100%;
}

.bd-sidefeed {
    position: fixed;
    right: 0;
    z-index: 50;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: min-content 1fr;
    background: #FFF2E6;
    border-radius: 25px 0 0 0;
    min-height: 100vh;
    padding: 25px 0;
}

.bd-sidefeed, .bd-sidefeed__groupchats h2,
.bd-sidefeed, .bd-sidefeed__popular h2 {
    font-size: 1rem;
    font-weight: 500;
    color: #101024;
}

.bd-sidefeed__popular .block,
.bd-sidefeed__groupchats .block {
    background: white;
    margin: 25px 0;
    padding: 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all .3s ease;
}

.bd-sidefeed__groupchats,
.bd-sidefeed__popular {
    padding: 0 25px;
}

.bd-sidefeed__popular .block .title,
.bd-sidefeed__groupchats .block .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bd-sidebar .bd-openchats ul li a img,
.bd-sidefeed__popular .block > .title > img,
.bd-sidefeed__groupchats .block > .title > img {
    border-radius: 10px;
    width: 22px;
    height: 22px;
    background: var(--accent-default);
    padding: 10px;
}

.bd-sidebar .bd-openchats ul li a.default img { 
    background: var(--accent-default);
}

.bd-sidebar .bd-openchats ul li a.blue img { 
    background: var(--accent-blue);
}

.bd-sidebar .bd-openchats ul li a.orange img { 
    background: var(--accent-orange);
}

.bd-sidebar .bd-openchats ul li a.red img { 
    background: var(--accent-red);
}

.bd-sidebar .bd-openchats ul li a.purple img { 
    background: var(--accent-purple);
}

.bd-sidebar .bd-openchats ul li {
    position: relative;
}

.bd-sidebar .bd-openchats ul.bd-openchats__personal li a img {
    padding: 0;
    background: none;
    width: 42px;
    height: 42px;
}

.bd-sidebar .bd-openchats ul li a.default.active::before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 19px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #333;
    opacity: .45;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li a.blue.active::before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 19px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid var(--accent-blue);
    opacity: .45;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li a.orange.active::before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 19px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid var(--accent-orange);
    opacity: .45;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li a.red.active::before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 19px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid var(--accent-red);
    opacity: .45;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li a.purple.active::before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 19px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid var(--accent-purple);
    opacity: .45;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li {
    color: #e4e4e4;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li:hover {
    color: #3c3c3c;
}

.bd-sidebar .bd-openchats ul li.bd-chat-new img {
    background: none;
}

.bd-sidefeed__popular .block .title ul li:last-child,
.bd-sidefeed__popular .block .title ul li img,
.bd-sidefeed__groupchats .block .title ul li:last-child,
.bd-sidefeed__groupchats .block .title ul li img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.bd-sidefeed__popular .block .title ul,
.bd-sidefeed__groupchats .block .title ul {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.bd-sidefeed__popular .block .title ul li,
.bd-sidefeed__groupchats .block .title ul li {
    position: relative;
    border: 2px solid white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.bd-sidefeed__popular .block .title ul li:nth-child(1),
.bd-sidefeed__groupchats .block .title ul li:nth-child(1) {
    left: 20px;
}

.bd-sidefeed__popular .block .title ul li:nth-child(2),
.bd-sidefeed__groupchats .block .title ul li:nth-child(2) {
    left: 10px;
}

.bd-sidefeed__popular .block .title ul li:last-child,
.bd-sidefeed__groupchats .block .title ul li:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    font-size: .875rem;
}

.bd-sidefeed__popular .block .description,
.bd-sidefeed__groupchats .block .description {
    margin-top: 15px;
}

.bd-sidefeed__popular .block .description h3,
.bd-sidefeed__groupchats .block .description h3 {
    color: #333;
    font-size: .875rem;
}

.bd-sidefeed__popular .block .description p,
.bd-sidefeed__groupchats .block .description p {
    color: gray;
    font-size: .825rem;
}

.bd-sidefeed__popular .block {
    border-radius: 25px 25px 0 0;
    margin-bottom: 0;
}

.offers {
    background: #F7F7FF;
}

.offers li .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offers li .title img {
    width: 42px;
    height: 42px;
    border-radius: 10px;
}

.offers li .title h5 {
    margin-left: 10px;
    font-size: .875rem;
}

.offers li .message {
    font-size: .875rem;
    font-weight: 500;
    color: gray;
    margin-top: 15px;
}

.bd-main__mainstream {
    margin: 0 0 0 105px;
}

.bd-main__hotnews {
    margin: 0 50px 50px 142px;
}

.bd-main article.full,
.bd-main .bd-navigator,
.bd-main .bd-messages {
    margin: 50px 50px 50px 142px;
}

.bd-main .bd-headers {
    margin: 50px 50px 0 142px;
}

.tns-inner {
    padding: 50px 0 !important;
}

@media only screen and (max-width: 1299px) {
    .bd-sidebar {
        min-width: 64px;
    }

    .bd-sidebar .bd-openchats ul li a.default.active::before {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: 5px;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        border: 2px solid #333;
        opacity: .45;
        transition: all .3s ease;
    }

    .bd-sidebar .bd-openchats ul li a.orange.active::before {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: 5px;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        border: 2px solid var(--accent-orange);
        opacity: .45;
        transition: all .3s ease;
    }

    .bd-sidebar .bd-openchats ul li a.blue.active::before {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: 5px;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        border: 2px solid var(--accent-blue);
        opacity: .45;
        transition: all .3s ease;
    }

    .bd-sidebar .bd-openchats ul li a.purple.active::before {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: 5px;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        border: 2px solid var(--accent-purple);
        opacity: .45;
        transition: all .3s ease;
    }

    .bd-main .bd-sidefeed__popular .offers {
        padding: 0;
        grid-gap: 0;
        overflow: hidden;
    }

    .bd-main .bd-sidefeed__popular .offers li {
        border-radius: 0;
        background: #f3f3f3;
    }
    
    .bd-main .bd-navigator {
        margin: 25px 0 25px 64px;
    }

    .bd-main__mainstream {
        margin: 0 0 0 64px;
        width: calc(100vw - 64px);
    }

    .bd-main__hotnews {
        margin: 0 0 25px 64px;
    }

    .bd-main .bd-headers {
        margin: 35px 25px 15px 95px;
    }
    
    .bd-main article.full {
        margin: 25px 25px 15px 90px;
    }
}

@media only screen and (max-width: 998px) {
    .bd-main article {
        margin-left: 25px;
        margin-right: 25px;
    }

    .bd-main__hotnews article {
        grid-template-columns: 1fr;
        margin: 25px;
    }

    .bd-main__hotnews {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .tns-inner {
        padding: 25px 0 !important;
        margin: 0 35px !important;
    }

    .bd-main .bd-essages {
        margin: 25px;
        padding: 10px;
    }

    .bd-main .bd-messages .history .message p {
        margin-left: 10px;
        padding: 25px;
    }

    .bd-modal .bd-modal__body h2 {
        font-size: 1rem;
    }

    .bd-main article .text h3 {
        font-size: 1rem;
    }

    .bd-main article .text p {
        font-size: .875rem;
        font-weight: 400;
    }

    .bd-main__hotnews article .image {
        width: auto;
    }

    .bd-main .bd-headers {
        margin: 35px 25px 15px 95px;
    }

    .bd-main .bd-messages,
    .bd-main article.full {
        margin: 25px 25px 25px 89px;
    }
}

@media only screen and (max-width: 480px) {
    .bd-app {
        padding: 0;
    }

    .bd-hub {
        border-radius: 0;
    }

    .bd-main {
        padding: 0;
    }

    .tns-inner {
        padding: 25px 0 !important;
        margin: 0 25px !important;
    }

    .bd-main article {
        display: block;
        margin: 15px;
    }

    .bd-sidefeed__groupchats, .bd-sidefeed__popular {
        padding: 0 15px;
    }

    .bd-main .bd-messages {
        margin: 0;
        padding: 0 10px 10px 10px;
    }

    .bd-main .bd-messages .form {
        padding: 15px 0 0 0;
    }

    .bd-main .bd-messages .history {
        padding: 10px 0 0 0;
    }

    .bd-main .bd-messages .history .message p {
        margin-left: 10px;
        padding: 15px;
    }

    .bd-main__hotnews {
        display: block;
        padding-bottom: 0;
    }

    .bd-modal .bd-modal__body h2 {
        font-size: 1rem;
    }

    .bd-main article {
        padding: 5px;
        margin-bottom: 15px;
    }

    .bd-main article .text h3 {
        font-size: 1rem;
        white-space: initial;
    }

    .bd-main article .text h3 a {
        white-space: initial;
    }

    .bd-main article .text p {
        font-size: .875rem;
        font-weight: 400;
    }

    .bd-main .bd-headers {
        margin: 25px 15px 5px 85px;
    }
    
    .bd-main .bd-messages,
    .bd-main article.full {
        margin: 15px 15px 15px 79px;
    }

    .bd-main .bd-navigator .offers {
        grid-template-columns: 1fr;
    }
}