/* Special */
:root {
    --accent-gray-color: #B7B7B7;
    --accent-gray-background: #EFEFEF;
    --addition-button-color: #4F4F4F;
    --transition: all .3s ease;
    --addition-transition: all .6s ease;
    --box-shadow: 0 0 15px 0 rgba(0, 0, 0, .025);
    --border-radius: 10px;
    --border: 1px solid rgba(0, 0, 0, .075);

    --accent-default: #454545;
    --accent-blue: #67D2E0;
    --accent-orange: #FFB129;
    --accent-red: #E75C62;
    --accent-purple: #8F4C6E;

    --main-background: #f5f8fb;
}

/* Tag rules */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font: 1rem 'Roboto', sans-serif;
    line-height: 1.5;
}

* {
    outline: none;
}

h1, h2, h3, h4, h5, h6, a, ul, li, p {
    margin: 0;
    padding: 0;
}

a, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

li, ol {
    list-style: none;
}

button {
    border: none;
    outline: none;
    border-radius: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
    white-space: nowrap;
}

label {
    color: var(--accent-gray-color);
    font-size: 1rem;
    margin: 0 0 10px 0;
}

textarea {
    resize: none;
    min-height: 128px;
}

input, textarea, select {
    border: none;
    outline: none;
    background-color: var(--accent-gray-background);
    border-radius: 5px;
    padding: 10px 15px;
    transition: var(--transition);
}
  
input::placeholder, textarea::placeholder, select::placeholder {
color: #B7B7B7;
font-size: 1rem;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: #ccc;
}

img {
    width: 100%;
    object-fit: cover;
}

/* Class rules */
#root, .bd-app {
    position: relative;
    background: var(--main-background);
    min-height: 100vh;
}

.left {
    text-align: left !important;
}

.bd-selectfield,
.bd-inputfield {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
}

.bd-inputfield input.invalid {
    border: 1px solid #b98080;
}

.bda-selectfield p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius);
    border: 1px dashed #cacaca;
    color: #d2d2d2;
    font-size: 1rem;
    height: 40px;
    width: 100%;
    margin: 5px 0;
}

.bda-selectfield select,
.bda-selectfield select option {
    font-size: 1rem;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: var(--transition);
}

.bd-button-default,
.bd-action {
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 25px;
    background: white;
    border-radius: var(--border-radius);
    color: #808080;
    border: var(--border);
    opacity: 1 !important;
    transition: all .3s ease;
}

.bd-button-default {
    padding: 10px 15px;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    width: 100%;
    transition: var(--transition);
}

.bd-button-default:hover {
    background: #d4d4d4;
    color: #565656;
}

.bd-groupfield {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.bda-inputfield .bd-imagefield {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
    font-size: 2rem;
}

.bda-inputfield .bd-imagefield .bd-imagefield__current,
.bda-inputfield .bd-imagefield .bd-imagefield__upload .dzu-dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    border: var(--border);
    border-radius: var(--border-radius);
}

.bda-inputfield .bd-imagefield .bd-imagefield__upload .bda-button-default {
    margin-bottom: 0;
    width: 100%;
}

.bda-inputfield .bd-imagefield .bd-imagefield__current img {
    border-radius: var(--border-radius);
    height: 100%;
}

.bd-inputfield .bd-imagefield .bd-imagefield__current.icon img {
    width: 64px;
    object-fit: contain;
    margin: 25px;
}

.bd-checkboxfield {
    display: flex;
    margin-top: 5px;
    cursor: pointer;
}

.bd-checkboxfield .bd-checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #efefef;
    margin-right: 15px;
    transition: var(--transition);
}

.bd-checkboxfield .bd-checkmark img {
    padding: 2px;
}

.bd-checkboxfield.checked .bd-checkmark {
    background: #4f4f4f;
}

.bd-checkboxfield p {
    color: var(--accent-gray-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.55;
}

.bd-checkboxfield.checked p {
    color: #333;
}

.bd-auth {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 180px);
    align-items: center;
    padding-top: 120px;
    padding-bottom: 60px;
}

.bd-auth .bd-logotype {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: white;
    padding: 50px;
    margin-bottom: 50px;
    border: var(--border);
}

.bd-auth .bd-logotype img {
    width: 100%;
}

.bd-auth__form {
    position: relative;
}

.bd-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    transition: var(--transition);
}

.bd-loading img {
    width: 64px;
}

.bd-auth__switcher {
    display: flex;
    background:white;
    justify-content: space-between;
    border-radius: var(--border-radius);
    margin-bottom: 50px;
    padding: 15px;
    width: 320px;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.bd-auth__switcher p {
    display: flex;
    align-self: center;
    font-weight: 600;
    margin: 0;
}

.bd-auth__switcher button {
    position: relative;
    background-color: var(--addition-button-color);
    border-radius: 120em;
    width: 60px;
    height: 28px;
    cursor: pointer;
}

.bd-auth__switcher button span {
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: var(--transition);
}

.bd-auth__switcher button span.switch {
    left: 38px;
}

.bd-auth__form .bd-button-default {
    width: 100%;
    margin-top: 25px;
}

.bd-auth__form .bd-auth__content {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: var(--border-radius);
    width: 320px;
    padding: 15px;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.bd-perfomance {
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
}

.bd-perfomance__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    grid-gap: 15px;
    margin: 15px 0;
}

.bd-perfomance__list .bd-commonfetchfailure {
    margin: 0;
}

.bd-perfomance h2 {
    font-size: 1rem;
    font-weight: 900;
    opacity: .25;
    text-align: center;
}

.bd-perfomance > p {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 10px;
    border: var(--border);
    border-radius: var(--border-radius);
    margin-top: 10px;
    opacity: .55;
    background: #dae9f5;
    color: #529a9a;
}

.bd-perfomance__list .bd-perfomance__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: var(--border-radius);
    height: 256px;
    cursor: pointer;
    opacity: .75;
    background-size: cover;
    transition: var(--transition);
}

.bd-perfomance__list .bd-perfomance__list-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: var(--border-radius);
    background: rgba(0, 0, 0, .45);
}

.bd-perfomance__list .bd-perfomance__list-item:hover {
    opacity: 1;
}


.bd-perfomance__list .bd-perfomance__list-item.checked:hover,
.bd-perfomance__list .bd-perfomance__list-item.checked {
    opacity: .25;
}

.bd-perfomance__list .bd-perfomance__list-item img {
    position: absolute;
    top: 72px;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    padding: 25px;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.bd-perfomance__list .bd-perfomance__list-item p {
    position: relative;
    z-index: 140;
    margin-bottom: 25px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.bd-perfomance__action {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 50px);
    background: white;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 25px;
}

.bd-perfomance__action .bd-button-default {
    padding-left: 25px;
    padding-right: 25px;
    background: #3c3c3c;
    color: #ffffff;
}

.bd-perfomance__action .bd-button-default[disabled] {
    background: transparent;
    color: #e0e0e0;
}

.bd-common-title {
    position: relative;
    top: -15px;
    left: -15px;
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #efefef;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    color: #b5b5b5; 
}

.react-skeleton-load {
    margin-bottom: 10px;
}

.bd-commonempty,
.bd-commonfetchfailure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    border: 1px dashed #bcbfc6;
    border-radius: var(--border-radius);
    color:#bcbfc6;
    margin-bottom: 15px;
}

.bd-commonempty {
    height: 64px;
}

.bd-sectiontitle {
    font-size: 1rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
    opacity: .25;
    width: calc(100% - 16px);
}

.bd-sectiontitle svg {
    margin-right: 15px;
}

.bd-navigator .bd-commonfetchfailure {
    margin-top: 15px !important;
}

.bd-hub {
    position: relative;
    display: flex;
    min-height: 100vh;
    background: var(--main-background);
}

.bd-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    width: 100%;
    height: 100%;
}

.bd-modal .bd-modal__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 251;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .325);
    backdrop-filter: blur(5px);
    transition: all .3s ease;
}

.bd-modal .bd-modal__body {
    position: relative;
    z-index: 252;
    background: white;
    border-radius: var(--border-radius);
    padding: 15px;
    margin: 0 15px;
    overflow-y: auto;
    max-height: calc(100vh - 250px);
    max-width: 70%;
    scrollbar-width: none;
}

.bd-modal .bd-modal__body.settings {
    width: 320px;
}

.bd-modal .bd-modal__body .bd-greteeng {
    text-align: center;
}

.bd-modal .bd-modal__body .bd-greteeng .bd-greeting__welcome {
    padding: 15px 100px 50px 100px;
}

.bd-modal .bd-modal__body .bd-greteeng .bd-greeting__welcome .bd-brandlogo {
    width: 256px;
}

.bd-modal .bd-modal__body .bd-greteeng .bd-avatar__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(128px, 128px));
    grid-gap: 15px;
    margin-bottom: 15px;
}

.bd-modal .bd-modal__body .bd-greteeng .bd-avatar__list .bd-avatar__list-item {
    position: relative;
    border: none;
    background: white;
    height: 128px;
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: pointer;
    transition: var(--transition);
}

.bd-modal .bd-modal__body .bd-greteeng .bd-avatar__list .bd-avatar__list-item:hover {
    opacity: .75;
}

.bd-modal .bd-modal__body .bd-greteeng .bd-avatar__list .bd-avatar__list-item .avatar {
    width: 100%;
    height: 100%;
}

.bd-modal .bd-modal__body .bd-greteeng .bd-avatar__list .bd-avatar__list-item .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.bd-modal .bd-modal__body .bd-greteeng .bd-avatar__list .bd-avatar__list-item .hub {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 5px;
    background: white;
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
}

.bd-modal .bd-modal__body .bd-greteeng .bd-avatar__list .bd-avatar__list-item .hub img {
    filter: brightness(.75);
}

.bd-modal .bd-button-default {
    width: 100%;
}

.bd-modal__body-groupchats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    grid-gap: 25px;
    padding: 25px 0;
}

.bd-modal .bd-modal__body h2 {
    text-align: center;
}

.bd-modal .bd-signout {
    position: relative;
    z-index: 252;
    background: white;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 10px 15px;
    margin: 15px;
    width: 320px;
    text-align: center;
    font-weight: 600;
    transition: var(--transition);
}

.bd-modal .bd-signout:hover {
    background: #d4d4d4;
    color: #565656;
}

.bd-sidebar {
    position: fixed;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content) 1fr;
    z-index: 50;
    background: white;
    width: 320px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .025);
    transition: all .3s ease;
}

.bd-sidebar-content {
    display: grid;
    grid-template-columns: 96px 1fr;
    grid-gap: 5px;
    align-content: center;
    padding: 0 20px;
}

.bd-sidebar-content .bd-sidebar-content__progress {
    position: relative;
    padding: 10px;
}

.bd-sidebar-content .bd-sidebar-content__progress .avatar {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    background: #333;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
}

.bd-sidebar-content .bd-sidebar-content__progress img {
    position: relative;
    top: -1px;
    left: -1px;
    width: 100%;
    border-radius: 50%;
    border: var(--border);
    z-index: 15;
}

.bd-sidebar-content .bd-sidebar-content__progress .exp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: rotate(180deg);
}

.bd-sidebar-content .bd-sidebar-content__info {
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    margin: 0;
    padding: 15px 0 0 15px;
}

.bd-sidebar-content .bd-sidebar-content__info .level {
    font-size: .875rem;
    font-weight: 500;
    color: #a7a7a7;
}

.bd-sidebar-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bd-sidebar .bd-break {
    display: flex;
    height: 2px;
    background: #f3f3f3;
    margin: 0 15px;
}

.bd-sidebar .bd-openchats ul li {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    padding: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

.bd-sidebar .bd-openchats ul li a {
    display: flex;
    align-items: center;
    opacity: .45;
    font-weight: 500;
    transition: var(--transition);
}

.bd-sidebar .bd-openchats ul li a:hover,
.bd-sidebar .bd-openchats ul li a.active {
    opacity: 1;
}

.bd-sidebar .bd-openchats ul li a img {
    margin-right: 18px;
}

.bd-sidebar .bd-openchats ul li a p {
    color: #333;
    transition: var(--transition);
}

.bd-sidebar .bd-openchats ul li.bd-chat-new {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ccc;
    height: 40px;
    margin: 10px;
}

.bd-sidebar .bd-openchats ul li img {
    transition: var(--transition);
}

.bd-sidebar .bd-openchats ul li a.active img,
.bd-sidebar .bd-openchats ul li a:hover img {
    transform: scale(.9);
}

.bd-sidebar-profile {
    display: grid;
    grid-template-columns: 1fr 64px;
    grid-template-rows: 64px;
}

.bd-sidebar-profile button,
.bd-sidebar-profile a {
    align-self: center;
}

.bd-sidebar-profile a {
    width: 128px;
    padding-top: 7px;
    padding-left: 20px;
}

.bd-sidebar-profile button {
    font-size: 1.25rem;
}

.bd-sidebar-navigation {
    display: grid;
    grid-gap: 25px;
    padding: 25px;
}

.bd-sidebar-navigation a {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 15px;
    cursor: pointer;
    opacity: .25;
    font-weight: 400;
    transition: var(--transition);
}

.bd-sidebar-navigation a:hover {
    opacity: .75;
}

.bd-sidebar-navigation a svg {
    font-size: 1.25rem;
    margin-right: 15px;
    justify-self: center;
}

.bd-sidebar-navigation a svg,
.bd-sidebar-navigation a p {
    align-self: center;
}

.bd-sidebar-navigation a.bd-sidebar-navigation__profile {
    display: none;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__burger {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__settings {
    font-size: 1rem;
    color: gainsboro;
    transition: all .3s ease;
}

.bd-sidebar .bd-sidebar-navigation .bd-sidebar-navigation__settings:hover {
    color: #3c3c3c;
}

.bd-main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    margin: 25px;
    padding: 0 320px;
}

.bd-main::-webkit-scrollbar {
    width: 20px;
}

.bd-main::-webkit-scrollbar-track {
    background: none;
}

.bd-main::-webkit-scrollbar-thumb {
    background: none;
}

.bd-home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 15px;
}

.bd-main__hub .bd-hubblock {
    margin-bottom: 15px;
}

.bd-main__mainstream {
    position: relative;
    left: -20px;
    width: calc(100vw - 720px);
}

.bd-main__mainstream > h2 {
    position: absolute;
    line-height: 1.95;
    width: calc(100% - 16px);
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    color: #101024;
    opacity: .25;
}

.bd-main__mainstream > h2 svg {
    margin-right: 15px;
}

.bd-main__mainstream .tns-controls {
    position: absolute;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

.bd-main__mainstream .tns-controls button:first-child {
    transform: rotate(180deg);
}

.bd-main__mainstream .tns-controls button {
    display: flex;
    align-items: center;
    height: 32px;
    width: 32px;
    opacity: .15;
    transition: var(--transition);
}

.bd-main__mainstream .tns-controls button:hover {
    opacity: 1;
}

.bd-hubblock {
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all .3s ease;
}

.bd-hubblock.slide {
    opacity: 0;
}

.bd-hubblock.slide.tns-slide-active {
    opacity: 1;
}

.bd-hubblock .content {
    transition: all .3s ease;
}

.bd-hubblock.default .content p {
    border-bottom: 10px solid gray;
}

.bd-hubblock.blue .content p {
    border-bottom: 10px solid #32b2c5;
}

.bd-hubblock.orange .content p {
    border-bottom: 10px solid #dc961c;
}


.bd-hubblockred .content p {
    border-bottom: 10px solid #bf3b40;
}

.bd-hubblock.purple .content p {
    border-bottom: 10px solid #612b46;
}

.bd-hubblock.inactive {
    opacity: .25;
    cursor: default;
}

.bd-hubblock.inactive,
.bd-hubblock.inactive:hover .content,
.bd-hubblock.inactive:hover .content p {
    transform: none;
    box-shadow: none;
}

.bd-hubblock:not(.inactive):hover {
    opacity: .75;
}

.bd-hubblock .content {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 256px;
    user-select: none;
}

.bd-hubblock .content img {
    height: 128px;
}

.bd-hubblock .content p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25;
    padding: 25px;
    color: white;
    height: 100%;
    border-bottom: 10px solid transparent;
    transition: all .3s ease;
}

.bd-main.offset .bd-hubblock .content {
    opacity: 0;
    transition: all .3s ease;
}

.bd-main .bd-headers {
    display: flex;
    justify-content: space-between;
}

.bd-main .bd-headers h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.bd-main .bd-headers a:hover {
    color: #333;
}

.bd-main .bd-chat {
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-gap: 15px;
    height: 100%;
}

.bd-main .bd-chat .bd-messages {
    display: flex;
    flex-direction: column;
}

.bd-main .bd-chat .bd-messages h2 {
    font-size: 1rem;
    font-weight: 900;
    opacity: .25;
    margin-bottom: 15px;
}

.bd-main .bd-chat .bd-messages h2 svg {
    margin-right: 15px;
}

.bd-main .bd-chat .bd-messages .bd-messages__chat {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: var(--border-radius);
    border: var(--border);
    color: #cacaca;
    height: 100%;
}

.bd-main .bd-chat .bd-messages .no-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    font-weight: 300;
}

.bd-main .bd-chat .bd-messages .history {
    position: relative;
    flex-grow: 1;
    margin-bottom: 0;
    padding: 25px 25px 10px 25px;
    height: calc(100vh - 320px);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.bd-main .bd-chat .bd-members {
    display: flex;
    flex-direction: column;
}

.bd-main .bd-chat .bd-members h2 {
    font-size: 1rem;
    font-weight: 900;
    opacity: .25;
    margin-bottom: 15px;
}

.bd-main .bd-chat .bd-members h2 svg {
    margin-right: 15px;
}

.bd-main .bd-chat .bd-members .bd-members__list {
    display: flex;
    flex-direction: column;
    background: white;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px;
}

.bd-main .bd-chat .bd-members .bd-members__list > p {
    text-align: center;
    padding: 15px 0;
    opacity: .25;
    user-select: none;
}

.bd-main .bd-chat .bd-members .bd-members__list .bd-members__list-item {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: 15px;
    cursor: pointer;
    margin: 0;
}

.bd-main .bd-chat .bd-members .bd-members__list .bd-members__list-item img {
    border-radius: 10px;
}

.bd-main .bd-chat .bd-members .bd-members__list .bd-members__list-item p {
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
}

.bd-openchats {
    overflow-y: auto;
    scrollbar-width: none;
}

.bd-openchats::-webkit-scrollbar,
.bd-main .bd-messages .history::-webkit-scrollbar {
    width: 0;
}

.bd-openchats::-webkit-scrollbar-track,
.bd-main .bd-messages .history::-webkit-scrollbar-track {
    background: none;
}

.bd-openchats::-webkit-scrollbar-thumb,
.bd-main .bd-messages .history::-webkit-scrollbar-thumb {
    background: none;
}

.bd-main .bd-messages .history .message {
    display: flex;
    margin-bottom: 10px;
}

.bd-main .bd-messages .history .message.my {
    flex-direction: row-reverse;
}

.bd-main .bd-messages .history .message img {
    border-radius: 10px;
    width: 48px;
    height: 48px;
}

.bd-main .bd-messages .history .message p {
    font-size: .875rem;
    font-weight: 400;
    color: #333;
    margin-left: 15px;
    padding: 15px;
    border-radius: 10px;
    background: #f5f5f5;
    width: 65%;
    word-break: break-all;
    white-space: normal;
}

.bd-main .bd-messages .history .message.my p {
    margin-left: 0;
    margin-right: 15px;
}

.bd-main .bd-messages .form {
    position: relative;
    display: flex;
    background: white;
    padding: 15px;
}

.bd-main .bd-messages .form::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #f3f3f3;
}

.bd-main .bd-messages .form input {
    flex-grow: 1;
    margin: 0 10px;
    width: 100%;
}

.bd-main .bd-messages .form button {
    width: 35px;
    min-width: 35px;
    background: #efefef;
    border-radius: 5px;
    color: #a5a5a5;
}

.bd-app.default,
.bd-perfomance__list .bd-perfomance__list-item.default img,
.bd-hubblock.default .content p {
    background: #a2a2a2;
}

.bd-app.blue,
.bd-perfomance__list .bd-perfomance__list-item.blue img,
.bd-hubblock.blue .content p {
    background: var(--accent-blue);
}
.bd-app.orange,
.bd-perfomance__list .bd-perfomance__list-item.orange img,
.bd-hubblock.orange .content p {
    background: var(--accent-orange);
}
.bd-app.red,
.bd-perfomance__list .bd-perfomance__list-item.red img,
.bd-hubblock.red .content p {
    background: var(--accent-red);
}
.bd-app.purple,
.bd-perfomance__list .bd-perfomance__list-item.purple img,
.bd-hubblock.purple .content p {
    background: var(--accent-purple);
}

.bd-hubblock .content p span {
    display: flex;
    font-size: .875rem;
    font-weight: 400;
    text-transform: initial;
    margin-top: 10px;
}

.bd-hubblock .headcrumb {
    display: none;
}

.bd-main article {
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: var(--border);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .025);
}

.bd-main article.preview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.bd-main > article {
    margin: 15px 0;
}

.bd-main article .image {
    height: 100%;
}

.bd-main article .image img {
    border-radius: 10px;
}

.bd-main article .image button {
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: 900;
}

.bd-main article.full {
    margin-bottom: 15px;
}

.bd-main article.full .image button {
    display: none;
}

.bd-main article .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;
}

.bd-main article .text * {
    display: flex;
}

.bd-main article .text .body {
    flex-direction: column;
}

.bd-main article .text .tags {
    justify-content: space-between;
    color: #d2d2d2;
    margin-top: 15px;
}

.bd-main article.full .text .tags {
    margin-top: 15px;
}

.bd-main article .text h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 15px;
    cursor: pointer;
}

.bd-main article .text p {
    font-size: .875rem;
    font-weight: 500;
}

.bd-main .offers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
    grid-gap: 25px;
    background: none;
    padding: 0;
    overflow: hidden;
    margin: 15px 0;
}

.bd-main .bd-navigator h2 {
    font-size: 1rem;
    font-weight: 900;
    opacity: .25;
}

.bd-modal .bd-offer {
    margin: 15px 0;
    width: 325px;
    cursor: default;
}

.bd-offer,
.offers li {
    position: relative;
    background: #f1f1f1 !important;
}

.offers li .hub {
    position: absolute;
    left: 15px;
    top: 0;
    display: flex;
    width: calc(100% - 30px);
    height: 4px;
    border-radius: 0 0 20px 20px;
    opacity: .75;
}

.bd-offer,
.bd-main .offers li {
    background: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: var(--border);
}

.bd-main__hotnews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-gap: 15px;
}

.bd-main__hotnews .bd-title-group {
    margin: 0;
}

.bd-main article {
    display: grid;
    grid-template-columns: 1fr;
}

.bd-main article:last-child {
    margin-bottom: 0;
}

.bd-main article .image img {
    height: 100%;
}

.bd-main .bd-navigator__hublist {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    background: white;
    border: var(--border);
    border-radius: var(--border-radius);
    margin: 15px 0;
    padding: 5px 0;
    overflow: hidden;
}

.bd-main .bd-navigator__hublist .bd-hubblock {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-self: center;
    border-top: var(--border);
    border-radius: 0;
    padding: 10px;
    transition: var(--transition);
}

.bd-main .bd-navigator__hublist .bd-hubblock:hover {
    background: #f1f1f1;
}

.bd-main .bd-navigator__hublist .bd-hubblock:hover .content img {
    filter: brightness(0.55);
}

.bd-main .bd-navigator__hublist .bd-hubblock.active:hover .content img {
    filter: none;
}

.bd-main .bd-navigator__hublist .bd-hubblock.active .content img {
    filter: brightness(1);
}

.bd-main .bd-navigator__hublist .bd-hubblock:first-child {
    border: none;
}

.bd-main .bd-navigator__hublist .bd-hubblock .content {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-gap: 15px;
    overflow: visible;
}

.bd-main .bd-navigator__hublist .bd-hubblock.all .content {
    grid-template-columns: 1fr;
}

.bd-main .bd-navigator__hublist .bd-hubblock .content img,
.bd-main .bd-navigator__hublist .bd-hubblock .content {
    height: auto;
    transition: var(--transition);
}

.bd-main .bd-navigator__hublist .bd-hubblock .content img {
    justify-self: center;
    align-self: center;
    width: 75%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

.bd-main .bd-navigator__hublist .bd-hubblock .content .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bd-main .bd-navigator__hublist .bd-hubblock .content .info p {
    font-size: 1rem;
    font-weight: 500;
    text-transform: initial;
    padding: 0;
    margin: 0;
    color: #333;
    height: min-content;
    border: none;
}

.bd-main .bd-navigator__hublist .bd-hubblock .content .info .slogan {
    font-size: .875rem;
    color: gray;
}

.bd-main .bd-navigator__hublist .bd-hubblock.active .content .info p {
    color: white;
}

.bd-main .bd-user-tournaments {
    margin-top: 15px;
}

.bd-sidefeed {
    position: fixed;
    right: 0;
    z-index: 50;
    display: grid;
    grid-template-columns: 295px;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
    padding: 25px;
}

.bd-title-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.bd-title-group h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 900;
    color: #101024;
    opacity: .25;
}

.bd-title-group button,
.bd-title-group a {
    opacity: .25;
}

.bd-title-group h2 svg {
    margin-right: 15px;
}

.bd-sidefeed__notifications-list,
.bd-transactions__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
}

.bd-transactions__list-item {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px;
    cursor: pointer;
    border: var(--border);
    border-radius: var(--border-radius);
}

.bd-sidefeed__notifications-item {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: 15px;
    background: white;
    padding: 15px;
    cursor: pointer;
    border: var(--border);
    border-radius: var(--border-radius);
}

.bd-transactions__list-item .addition {
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
    color: gray;
}

.bd-transactions__list-item .addition .cash {
    color: green;
    font-weight: 700;
}

.bd-transactions__list-item .content p {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.bd-sidefeed__notifications-item .icon {
    width: 48px;
    border-radius: 10px;
    overflow: hidden;
}

.bd-sidefeed__notifications-item .icon img {
    width: 100%;
    height: 100%;
}

.bd-sidefeed__notifications-item .content .date,
.bd-sidefeed__notifications-item .content .desc {
    font-size: .875rem;
    color: gray;
}

.bd-sidefeed__notifications-item .content .date {
    margin-top: 10px;
    opacity: .35;
}

.bd-sidefeed__popular .block,
.bd-sidefeed__groupchats .block {
    display: block;
    background: white;
    margin: 25px 0;
    padding: 15px;
    border-radius: var(--border-radius);
    border: var(--border);
    transition: all .3s ease;
}

.bd-sidefeed__popular .block a .title,
.bd-sidefeed__groupchats .block a .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bd-sidebar .bd-openchats ul li {
    position: relative;
}

.bd-sidebar .bd-openchats ul li a img,
.bd-sidefeed__popular .block > a > .title > img,
.bd-sidefeed__groupchats .block > a > .title > img {
    border-radius: 10px;
    width: 22px;
    height: 22px;
    background: var(--accent-default);
    padding: 10px;
}

.bd-sidefeed__popular .block .offers {
    border-top: 1px solid #ececec; 
    padding-top: 15px;
    margin-top: 25px;
}

.bd-sidefeed__popular .block .offers li {
    border-radius: var(--border-radius);
}

.bd-sidebar .bd-openchats ul li a.default img { 
    background: var(--accent-default);
}

.bd-sidebar .bd-openchats ul li a.blue img { 
    background: var(--accent-blue);
}

.bd-sidebar .bd-openchats ul li a.orange img { 
    background: var(--accent-orange);
}

.bd-sidebar .bd-openchats ul li a.red img { 
    background: var(--accent-red);
}

.bd-sidebar .bd-openchats ul li a.purple img { 
    background: var(--accent-purple);
}

.bd-sidebar .bd-openchats ul li {
    position: relative;
}

.bd-sidebar .bd-openchats ul.bd-openchats__personal li a img {
    padding: 0;
    background: none;
    width: 42px;
    height: 42px;
}

.bd-sidebar .bd-openchats ul li {
    color: #e4e4e4;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li.bd-chat-new:hover {
    color: #3c3c3c;
    border: 1px dashed #3c3c3c;
}

.bd-sidebar .bd-openchats ul li.bd-chat-new img {
    background: none;
}

.bd-sidebar-profile__settings {
    opacity: .25;
    transition: var(--transition);
}

.bd-sidebar-profile__settings:hover {
    opacity: 1;
}

.bd-sidebar-chats h2 {
    font-size: .875rem;
    margin-left: 25px;
    text-transform: uppercase;
    color: #c3c3c3;
}

.bd-sidefeed__popular .block .title ul li:last-child,
.bd-sidefeed__popular .block .title ul li img,
.bd-sidefeed__groupchats .block .title ul li:last-child,
.bd-sidefeed__groupchats .block .title ul li img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.bd-sidefeed__popular .block .title ul,
.bd-sidefeed__groupchats .block .title ul {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.bd-sidefeed__popular .block .title ul li,
.bd-sidefeed__groupchats .block .title ul li {
    position: relative;
    border: 2px solid white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.bd-sidefeed__popular .block .title ul li:nth-child(1),
.bd-sidefeed__groupchats .block .title ul li:nth-child(1) {
    left: 20px;
}

.bd-sidefeed__popular .block .title ul li:nth-child(2),
.bd-sidefeed__groupchats .block .title ul li:nth-child(2) {
    left: 10px;
}

.bd-sidefeed__popular .block .title ul li:last-child,
.bd-sidefeed__groupchats .block .title ul li:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    font-size: .875rem;
}

.bd-sidefeed__popular .block .description,
.bd-sidefeed__groupchats .block .description {
    margin-top: 15px;
}

.bd-sidefeed__popular .block .description h3,
.bd-sidefeed__groupchats .block .description h3 {
    color: #333;
    font-size: .875rem;
}

.bd-sidefeed__popular .block .description p,
.bd-sidefeed__groupchats .block .description p {
    color: gray;
    font-size: .825rem;
}

.offers {
    background: #F7F7FF;
}

.bd-sidefeed__groupchats .bd-commonempty {
    margin-top: 15px;
}

.bd-modal .bd-commonempty {
    margin: 0;
    padding: 0 15px; 
}

.bd-offer .title,
.offers li .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bd-offer .title img,
.offers li .title img {
    width: 42px;
    height: 42px;
    border-radius: 10px;
}

.bd-offer .title h5,
.offers li .title h5 {
    margin-left: 10px;
    font-size: .875rem;
}

.bd-offer .content,
.offers li .content {
    display: flex;
    flex-direction: column;
}

.bd-offer .content .title,
.offers li .content .title {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 15px;
    color: #333;
    margin: 0;
}

.offers li .content .message {
    font-size: .875rem;
    font-weight: 500;
    margin-top: 15px;
    color: gray;
    margin: 5px 0 0 0;
}

.bd-sidebar .bd-openchats ul li a.bd-chat__close {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 95;
    top: 5px;
    right: 0;
    background: #333;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: .75rem;
    transition: all .3s ease;
}

.bd-sidebar .bd-openchats ul li a.bd-chat__close:hover {
    opacity: .75;
}

.bd-sidebar .bd-openchats ul li:hover a.bd-chat__close {
    display: flex;
}

.tns-inner {
    padding: 50px 0 0 0 !important;
}

.tns-ovh {
    width: calc(100% + 55px) !important;
}

.bd-clearfix {
    left: 0 !important;
    right: 0 !important;
}

.bd-sidebar.collapsed {
    width: 64px;
    overflow: hidden;
}

.bd-sidebar.collapsed .bd-sidebar-navigation {
    padding: 22px;
}

.bd-sidebar.collapsed .bd-openchats ul li.bd-chat-new {
    width: 40px;
}

.bd-sidebar.collapsed .bd-openchats ul li {
    margin: 15px 10px;
}

.bd-sidebar.collapsed {
    min-width: 64px;
}

.bd-sidebar-profile__toggle {
    display: none;
}

@media only screen and (max-width: 1299px) {
    .bd-main {
        padding: 0 320px 0 64px;
        width: calc(100% - 435px);
    }

    .bd-main__mainstream {
        grid-column: auto;
    }

    .bd-home {
        display: flex;
        flex-direction: column;
    }

    .bd-main__hotnews {
        margin: 15px 0;
    }

    .bd-sidebar-profile a {
        padding-left: 5px;
    }

    .bd-sidebar .bd-sidebar-profile__toggle {
        display: flex;
    }

    .bd-sidebar .bd-sidebar-profile button, .bd-sidebar-profile a {
        justify-content: center;
    }

    .bd-sidebar.expand {
        width: 64px;
        overflow: hidden;
    }

    .bd-sidebar.collapsed {
        width: 320px;
        overflow: hidden;
    }

    .bd-sidebar.expand .bd-sidebar-navigation {
        padding: 22px;
    }

    .bd-sidebar.expand .bd-sidebar-profile button.bd-sidebar-profile__settings ,
    .bd-sidebar.expand .bd-sidebar-profile a, .bd-sidebar-chats h2 {
        display: none;
    }

    .bd-sidebar.expand .bd-sidebar .bd-openchats ul li {
        margin-left: 10px;
    }

    .bd-sidebar .bd-sidebar-profile {
        grid-template-columns: 64px 1fr 64px;
    }

    .bd-sidebar.expand .bd-openchats ul li.bd-chat-new {
        width: 40px;
    }

    .bd-sidebar.collapsed .bd-openchats ul li.bd-chat-new {
        width: auto;
    }

    .bd-sidebar .bd-openchats ul li {
        margin: 15px 10px;
    }

    .bd-sidebar {
        min-width: 64px;
    }

    .bd-main .bd-sidefeed__popular .offers {
        overflow: hidden;
    }
    
    .bd-main .bd-navigator {
        margin: 0;
    }   

    .bd-main__mainstream {
        margin: 0;
        width: calc(100vw - 410px);
    }

    .bd-main__hotnews {
        width: auto;
    }
    
    .bd-main article.full {
        margin: 25px 25px 15px 90px;
    }
    
    .bd-main .bd-chat {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .bd-main .bd-chat .bd-members {
        display: none;
    }

    .tns-ovh {
        width: auto !important;
    }

    .bd-main__mainstream .tns-controls {
        width: calc(100% - 80px);
    }
}

@media only screen and (max-width: 998px) {
    .bd-main article {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .bd-main article.full,
    .bd-main__hotnews article {
        grid-template-columns: 1fr;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .bd-main__hotnews {
        padding-bottom: 0;
    }
    
    .bd-main article.preview {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .tns-inner {
        padding: 50px 25px 0 25px !important;
        margin: 0 0px !important;
    }

    .bd-main__mainstream .tns-controls {
        position: absolute;
        width: calc(100% - 70px);
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }

    .bd-auth {
        min-height: calc(100vh - 50px);
        padding: 25px;
    }

    .bd-auth__form {
        width: 100%;
    }

    .bd-auth__switcher {
        width: calc(100% - 30px);
    }

    .bd-auth__form .bd-auth__content {
        width: auto;
    }

    .bd-auth .bd-logotype {
        width: 64px;
        height: 64px;
    }

    .bd-main {
        padding: 0 0 0 64px;
    }

    .bd-main__mainstream {
        width: calc(100vw - 65px);
        margin-bottom: 15px;
    }

    .bd-main .bd-chat {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }

    .bd-main .bd-messages .history .message p {
        margin-left: 10px;
        padding: 25px;
    }

    .bd-main .bd-chat .bd-members {
        display: none;
    }

    .bd-modal .bd-modal__body h2 {
        font-size: 1rem;
    }

    .bd-main article .text h3 {
        font-size: 1rem;
    }

    .bd-main article .text p {
        font-size: .875rem;
        font-weight: 400;
    }

    .bd-main__hotnews article .image {
        width: auto;
    }

    .bd-modal .bd-modal__body {
        max-width: 320px;
    }

    .bd-modal__body-groupchats {
        grid-template-columns: 1fr;
    }

    .bd-sidefeed {
        display: none;
    }

    .bd-sidebar-navigation a.bd-sidebar-navigation__profile {
        display: grid;
    }
}

@media only screen and (max-width: 480px) {
    .bd-app {
        padding: 0;
    }

    .bd-hub {
        border-radius: 0;
    }

    .bd-main {
        margin: 0 15px;
        padding: 15px 0 15px 64px;
    }

    .tns-inner {
        padding: 50px 15px 0 15px !important;
        margin: 0 !important;
    }

    .bd-main__mainstream .tns-controls {
        width: calc(100% - 40px);
        margin: 0 0 0 10px;
    }

    .bd-main__mainstream {
        left: -15px;
    }

    .bd-main__mainstream {
        width: calc(100vw - 60px);
        margin-bottom: 15px;
    }

    .bd-main article {
        margin: 0;
    }

    .bd-main .bd-chat {
        margin: 0;
        padding: 0;
    }

    .bd-main .bd-messages .history {
        padding: 10px 0 0 0;
    }

    .bd-main .bd-messages .history .message p {
        margin-left: 10px;
        padding: 15px;
    }

    .bd-main__hotnews {
        display: block;
        padding-bottom: 0;
    }

    .bd-modal .bd-signout,
    .bd-modal .bd-modal__body {
        max-width: none !important;
        width: calc(100% - 60px) !important;
    }

    .bd-modal .bd-modal__body h2 {
        font-size: 1rem;
    }

    .bd-main article {
        padding: 5px;
        margin-bottom: 15px;
    }

    .bd-main article .text h3 {
        font-size: 1rem;
        white-space: initial;
    }

    .bd-main article .text h3 a {
        white-space: initial;
    }

    .bd-main article .text p {
        font-size: .875rem;
        font-weight: 400;
    }

    .bd-main__hotnews > h2 {
        margin-bottom: 15px;
    }

    .bd-main .bd-navigator .offers {
        grid-template-columns: 1fr;
    }

    .bd-sidebar.collapsed {
        width: 100%;
    }

    .bd-sidebar .bd-openchats ul li a.bd-chat__close {
        display: flex;
    }
}